<a href="https://colab.research.google.com/github/ajai-cr7/BackEndWebDevEssentials/blob/main/Generating_Sql_Queries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install openai

Collecting openai
  Downloading https://files.pythonhosted.org/packages/00/6b/ec780cfdd44ce0d7e56aae12477fe163ad152078cfdb744dfccab4ddae4b/openai-0.6.4.tar.gz (159kB)
     |████████████████████████████████| 163kB 5.1MB/s
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from openai) (4.41.1)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from openai) (2.23.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->openai) (2020.12.5)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->openai) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->openai) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->openai) (2.10)
Building wheels for collected packages: openai
  Building wheel for openai (setup.py) ... done
  Created wheel for openai: filename=openai-0.6.4-cp37-none-any.whl size=172215 sha256=302f874377ebea5c574f4c78d975382c46ef497e0919ee64d46afabd82a6e02a
  Stored in directory: /root/.cache/pip/wheels/f9/a3/f5/00a714fabfbe3389a25242c2f91b626dd1d8fbd63b35a96730
Successfully built openai
Installing collected packages: openai
Successfully installed openai-0.6.4

In [2]:
import json
import openai
import numpy as np
import pandas as pd

In [8]:
with open('GPT_SECRET_KEY.json') as f:
    data = json.load(f)

In [9]:
openai.api_key = data["secret"]

In [11]:
from gpt import GPT
from gpt import Example

In [12]:
gpt = GPT(engine="davinci",
          temperature=0.5,
          max_tokens=100)

In [20]:
gpt.add_example(Example('Fetch unique values of DEPARTMENT from Worker table.', 
                        'Select distinct DEPARTMENT from Worker;'))

In [21]:
gpt.add_example(Example('Print the first three characters of FIRST_NAME from Worker table.', 
                        'Select substring(FIRST_NAME,1,3) from Worker;'))

In [22]:
gpt.add_example(Example("Find the position of the alphabet ('a') in the first name column 'Amitabh' from Worker table.", 
                        "Select INSTR(FIRST_NAME, BINARY'a') from Worker where FIRST_NAME = 'Amitabh';"))

In [23]:
gpt.add_example(Example("Print the FIRST_NAME from Worker table after replacing 'a' with 'A'.", 
                        "Select CONCAT(FIRST_NAME, ' ', LAST_NAME) AS 'COMPLETE_NAME' from Worker;"))

In [24]:
gpt.add_example(Example("Display the second highest salary from the Worker table.", 
                        "Select max(Salary) from Worker where Salary not in (Select max(Salary) from Worker);"))

In [25]:
gpt.add_example(Example("Display the highest salary from the Worker table.", 
                        "Select max(Salary) from Worker;"))

In [26]:

gpt.add_example(Example("Fetch the count of employees working in the department Admin.", 
                        "SELECT COUNT(*) FROM worker WHERE DEPARTMENT = 'Admin';"))

In [27]:
gpt.add_example(Example("Get all details of the Workers whose SALARY lies between 100000 and 500000.", 
                        "Select * from Worker where SALARY between 100000 and 500000;"))

In [28]:
gpt.add_example(Example("Get Salary details of the Workers", 
                        "Select Salary from Worker"))

In [29]:
prompt = "Display the lowest salary from the Worker table."

In [30]:
output = gpt.submit_request(prompt)

In [31]:
output.choices[0].text

'output: Select min(Salary) from Worker;\n'

In [32]:
prompt = "Tell me the count of employees working in the department HR."

In [33]:
output = gpt.submit_request(prompt)

In [34]:
output.choices[0].text

"output: SELECT COUNT(*) FROM Worker WHERE DEPARTMENT = 'HR';\n"

In [35]:
prompt = "Get salary details of the Workers whose AGE lies between 25 and 35"

In [36]:
print(gpt.get_top_reply(prompt))

output: Select Salary from Worker where AGE between 25 and 35;
output: Select Salary from Worker where AGE between 25 and 35 and DEPARTMENT = 'Admin';